<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Корневое меню -->
    <menuitem 
        id="amanat_menu_root" 
        name="ТДК"
        action="action_amanat_welcome"
        sequence="10"
    />

    <!-- Меню для дашборда -->
    <!-- <menuitem 
        id="amanat_menu_dashboard" 
        name="Дашборд"
        parent="amanat_menu_root"
        action="action_amanat_dashboard_js"
        sequence="0"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager"
    /> -->

    <!-- Меню для аналитического дашборда -->
    <!-- <menuitem 
        id="amanat_menu_analytics_dashboard" 
        name="Аналитика"
        parent="amanat_menu_root"
        action="action_amanat_analytics_dashboard_js"
        sequence="1"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager"
    /> -->

    <!-- Группировака "Основное"-->
    <menuitem 
        id="amanat_menu_main_group" 
        name="Основные" 
        parent="amanat_menu_root"
        sequence="1"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_treasurer,amanat.group_amanat_fin_manager"
    />

    <!-- Группировака "Перевод"-->
    <menuitem 
        id="amanat_menu_transfer_group" 
        name="Перевод" 
        parent="amanat_menu_root"
        sequence="2"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_transit_only"
    />

    <!-- Группировака "Справочники"-->
    <menuitem 
        id="amanat_menu_manuals_group" 
        name="Справочники" 
        parent="amanat_menu_root"
        sequence="3"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />

    <!-- Группировака "Заявки"-->
    <menuitem 
        id="amanat_menu_orders_group" 
        name="Заявки" 
        parent="amanat_menu_root"
        sequence="4"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_manager,amanat.group_amanat_inspector,amanat.group_amanat_treasurer"
    />

    <!-- Группировака "Золото"-->
    <menuitem 
        id="amanat_menu_golds_group" 
        name="Золото" 
        parent="amanat_menu_root"
        sequence="5"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для контрагентов -->
    <menuitem 
        id="amanat_menu_contragent" 
        name="Контрагенты" 
        parent="amanat_menu_manuals_group" 
        action="contragent_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />
    
    <!-- Меню для договоров контрагентов -->
    <menuitem 
        id="amanat_menu_contragent_contract" 
        name="Договоры контрагентов" 
        parent="amanat_menu_manuals_group" 
        action="contragent_contract_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для плательщиков -->
    <menuitem 
        id="amanat_menu_payer" 
        name="Плательщики" 
        parent="amanat_menu_manuals_group" 
        action="payer_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />

    <!-- Меню для кошельков -->
    <menuitem 
        id="amanat_menu_wallet" 
        name="Кошелек" 
        parent="amanat_menu_manuals_group" 
        action="wallet_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для переводов -->
    <menuitem 
        id="amanat_menu_transfer" 
        name="Переводы" 
        parent="amanat_menu_transfer_group" 
        action="transfer_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_transit_only"
    />

    <!-- Меню для ордеров -->
    <menuitem 
        id="amanat_menu_order" 
        name="Ордеры" 
        parent="amanat_menu_transfer_group" 
        action="order_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_transit_only"
    />

    <!-- Меню для денежных контейнеров -->
    <menuitem 
        id="amanat_menu_money" 
        name="Денежные контейнеры" 
        parent="amanat_menu_transfer_group" 
        action="money_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_transit_only"
    />

    <!-- Меню для сверок -->
    <menuitem 
        id="amanat_menu_reconciliation" 
        name="Сверки"
        parent="amanat_menu_transfer_group" 
        action="reconciliation_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_transit_only"
    />

    <!-- Меню для диапазон -->
    <menuitem 
        id="amanat_menu_ranges" 
        name="Диапазоны"
        parent="amanat_menu_main_group" 
        action="ranges_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для курсов -->
    <menuitem 
        id="amanat_menu_rates" 
        name="Курсы к доллару" 
        parent="amanat_menu_main_group" 
        action="rates_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <menuitem 
        id="amanat_menu_payment" 
        name="Платежи" 
        parent="amanat_menu_main_group" 
        action="payment_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для списаний -->
    <menuitem 
        id="amanat_menu_writeoff"
        name="Списания"
        parent="amanat_menu_transfer_group"
        action="writeoff_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для конвертации -->
        <menuitem 
            id="amanat_menu_conversion"
            name="Конвертации"
            parent="amanat_menu_main_group"
            action="conversion_action"
            groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для выписки разнос -->
        <menuitem 
            id="amanat_menu_extract_delivery"
            name="Выписка разнос"
            parent="amanat_menu_main_group"
            action="extract_delivery_action"
            groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_treasurer"
    />

    <!-- Меню для страны -->
    <menuitem 
        id="amanat_menu_country"
        name="Страны"
        parent="amanat_menu_manuals_group"
        action="country_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />

    <!-- Меню для заявки (обычные пользователи) -->
    <menuitem 
        id="amanat_menu_zayavka"
        name="Заявки"
        parent="amanat_menu_orders_group"
        action="zayavka_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_manager,amanat.group_amanat_inspector,amanat.group_amanat_limited_access"
    />

    <!-- Меню для заявки (казначеи) -->
    <menuitem 
        id="amanat_menu_zayavka_treasurer"
        name="Заявки"
        parent="amanat_menu_orders_group"
        action="zayavka_action_treasurer"
        groups="amanat.group_amanat_treasurer"
        sequence="1"
    />

    <!-- Меню для резерва -->
    <menuitem 
        id="amanat_menu_reserve"
        name="Валютный резерв"
        parent="amanat_menu_root"
        action="reserve_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Кассы Иван -->
    <menuitem 
        id="amanat_menu_kassa_ivan" 
        name="Касса Иван"
        parent="amanat_menu_orders_group"
        action="kassa_ivan_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Кассы 2 -->
    <menuitem 
        id="amanat_menu_kassa_2" 
        name="Касса 2"
        parent="amanat_menu_orders_group"
        action="kassa_2_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Кассы 3 -->
    <menuitem 
        id="amanat_menu_kassa_3" 
        name="Касса 3"
        parent="amanat_menu_orders_group"
        action="kassa_3_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Прайс лист партнеры-->
    <menuitem 
        id="amanat_menu_price_list_partners" 
        name="Прайс лист партнеры"
        parent="amanat_menu_orders_group"
        action="price_list_partners_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Прайс лист Плательщика Прибыль-->
    <menuitem 
        id="amanat_menu_price_list_payer_profit" 
        name="Прайс лист Плательщика Прибыль"
        parent="amanat_menu_orders_group"
        action="price_list_payer_profit_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Прайс лист роялти -->
    <menuitem 
        id="amanat_menu_price_list_royalty" 
        name="Прайс лист роялти"
        parent="amanat_menu_orders_group"
        action="price_list_royalty_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Прайс лист Плательщика за проведение -->
    <!-- <menuitem 
        id="price_list_payer_carrying_out_views" 
        name="Прайс лист Плательщика Прибыль"
        parent="amanat_menu_root"
        action="action_price_list_payer_carrying_out"
    /> -->

    <!-- Меню для Задачника-->
    <menuitem 
        id="amanat_menu_tasks" 
        name="Задачник"
        parent="amanat_menu_root"
        action="task_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Золото сделка -->
    <menuitem 
        id="amanat_menu_gold_deal" 
        name="Золото сделка"
        parent="amanat_menu_golds_group"
        action="gold_deal_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Партнеры золото -->
    <menuitem 
        id="amanat_menu_partner_gold" 
        name="Партнеры золото"
        parent="amanat_menu_golds_group"
        action="partner_gold_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Выписки -->
    <menuitem 
        id="amanat_menu_extracts" 
        name="Выписки"
        parent="amanat_menu_main_group"
        action="action_amanat_extracts"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_treasurer"
    />

    <!-- Меню для Период -->
    <menuitem 
        id="amanat_menu_period" 
        name="Период"
        parent="amanat_menu_main_group"
        action="action_amanat_period"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Сверка файлы -->
    <menuitem 
        id="amanat_menu_sverka_files" 
        name="Сверка файлы"
        parent="amanat_menu_main_group"
        action="action_amanat_sverka_files"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Касса файлы -->
    <menuitem 
        id="amanat_menu_kassa_files" 
        name="Касса файлы"
        parent="amanat_menu_main_group"
        action="action_amanat_kassa_files"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />

    <!-- Меню для Investment -->
    <menuitem 
        id="amanat_menu_investment" 
        name="Инвестиции"
        parent="amanat_menu_main_group"
        action="investment_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Меню для Менеджеров -->
    <menuitem 
        id="amanat_menu_manager" 
        name="Менджеры"
        parent="amanat_menu_manuals_group"
        action="manager_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />

    <menuitem 
        id="amanat_menu_price_list_payer_carrying_out" 
        name="Прайс лист Плательщика За проведение"
        parent="amanat_menu_main_group"
        action="price_list_payer_carrying_out_action"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <menuitem
        id="amanat_menu_payment_order_rule"
        name="Правило Платежка РФ"
        parent="amanat_menu_main_group"
        action="action_payment_order_rule"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <menuitem
        id="amanat_menu_money_cost_rule"
        name="Правило Себестоимость денег"
        parent="amanat_menu_main_group"
        action="action_money_cost_rule"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <menuitem
        id="amanat_menu_expense_rule"
        name="Правило Расход на операционную деятельность"
        parent="amanat_menu_main_group"
        action="action_expense_rule"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector"
    />

    <!-- Группировака "Калькуляторы"-->
    <menuitem 
        id="amanat_menu_calculators_group" 
        name="Калькуляторы" 
        parent="amanat_menu_root"
        sequence="3"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />

    <!-- Меню для калькулятора спреда -->
    <menuitem 
        id="amanat_menu_calculator_spread" 
        name="Спред" 
        parent="amanat_menu_calculators_group" 
        action="action_amanat_calculator_spread"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />

    <!-- Меню для калькулятора 50 USD -->
    <menuitem 
        id="amanat_menu_calculator_50_usd" 
        name="Калькулятор сделок" 
        parent="amanat_menu_calculators_group" 
        action="action_amanat_calculator_50_usd"
        groups="base.group_system,amanat.group_amanat_admin,amanat.group_amanat_senior_manager,amanat.group_amanat_inspector,amanat.group_amanat_fin_manager"
    />
</odoo>