.o_list_view .o_data_row.text-success {
    background-color: #dff8d7 !important;
    border-left: 4px solid #72dc35 !important;
    color: rgb(40, 40, 40) !important;
}

.o_list_view .o_data_row.text-success .amanat_row_number_cell {
    background-color: #dff8d7 !important;
}

.o_list_view .o_data_row.text-danger {
    background-color: #f8d7d7 !important;
    border-left: 4px solid #dc3535 !important;
    color: rgb(40, 40, 40) !important;
}

.o_list_view .o_data_row.text-danger .amanat_row_number_cell {
    background-color: #f8d7d7 !important;
}